.social
    .social__icon
        a(href='#')
            svg(class="yb")
                use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#yb")
    .social__icon
        a(href='#')
            svg(class="vk")
                use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#vk")
    .social__icon
        a(href='#')
            svg(class="insta")
                use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#insta")
    .social__icon
        a(href='#')
            svg(class="fb")
                use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#fb")
    