$navfz: 1.8rem;
.logo {
    margin-right: 1rem;
    font-size: 2.8rem;
    text-shadow: 0.1rem 0.1rem 0 #fdd418;
    font-weight: normal;
    a {
        color: #0b141d;
    }
}
.menu {
    width: 59.9rem;
    order: 3;
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
    }
    li {
        margin: 0.9rem;
    }
    &__item {
        color: #0b141d;
        font-size: $navfz;
        &:focus {
            text-shadow: 0.1rem 0.1rem 0 #fdd418;
        }
    }
}
@media (min-width: 360px) {
    .menu {
        margin-top: 1rem;
    }
}

@media (min-width: 953px) {
    .menu {
        order: 0;
        margin-top: 0;
    }
}
