.logo
    a.logo-text(href="#") cook&travel
nav.menu 
    ul.menu__box
        li: a.menu__item(href="#") Обо мне
        li: a.menu__item(href="#") Фотоотчет
        li: a.menu__item(href="#") Расписание
        li: a.menu__item(href="#") Цена
        li: a.menu__item(href="#") Блог
        li: a.menu__item(href="#") Контакты